PORT=3001

JWT_SECRET=change-me-same-as-auth-service
JWT_ISSUER=Banco33
JWT_AUDIENCE=Banco33

URI_MONGODB=mongodb://localhost:27017/banco_la33_products

# API externa de divisas (Frankfurter)
EXTERNAL_CURRENCY_API_URL=https://api.frankfurter.app
EXTERNAL_API_TIMEOUT_MS=8000
