PORT=3022

DATABASE_URL=postgresql://IN6AV:CHANGE_ME@localhost:5436/banco_33_reports

JWT_SECRET=change-me-same-as-auth-service
JWT_ISSUER=Banco33
JWT_AUDIENCE=Banco33

INTERNAL_SERVICE_KEY=change-me-shared-internal-key
