# Android emulator: 10.0.2.2 | Dispositivo físico: IP LAN de tu PC (ipconfig)
# Ejemplo emulador: EXPO_PUBLIC_AUTH_URL=http://10.0.2.2:5210/api/v1
# Ejemplo físico:   EXPO_PUBLIC_AUTH_URL=http://192.168.1.243:5210/api/v1
EXPO_PUBLIC_AUTH_URL=http://10.0.2.2:5210/api/v1
EXPO_PUBLIC_BANKING_URL=http://10.0.2.2:3024/api/accounts
EXPO_PUBLIC_PRODUCTS_URL=http://10.0.2.2:3001/BancoLa33/v1
EXPO_PUBLIC_REPORTS_URL=http://10.0.2.2:3022/api
EXPO_PUBLIC_NOTIFICATIONS_URL=http://10.0.2.2:3023/api
